html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Quattrocento Sans";
  text-align: justify;
  max-width: 2000px;
  }
  
  h1 {
  font-size: 3em;
  padding: 3%;
  margin: 3%;
  }
  
  h2 {
  text-align: center;
  font-size: 2em;
  padding: 3% auto;
  margin: 3% auto;
  }
  h3 {
  text-align: center;
  font-size: 1.8em;
  padding: 0.3em auto;
  margin: 0.3em auto;
  }
  
  p, li {
  line-height: 150%;
  }

.header {
  height: 70%;
  background: url("../images/logo.png") no-repeat center center;
  background-size: cover;
  }
  
.header h1 {
  position: absolute;
  right: 3%;
  bottom: 50%;
  font-family: "Pinyon Script";
  font-size: 2em;
  }

.horizontalmenu {
  background-color: #DEB887;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 3%;
  font-size: 1em;
  }

.horizontalmenu ul {
  padding: 0;
  margin: 0;
  }

.horizontalmenu li {
  background-color: #DEB887;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 2%;  
  }
  
.horizontalmenu li a {
  color: #8B4513;
  text-decoration: none;
  }

.horizontalmenu li a:hover {
  color: #A52A2A;
}
  
.corpo {
  width: 90%;
  text-align: center;
  margin: 3%;
  padding: 2%;
  *width: 100%;
  }

  
.corpo p {
  font-size: 1em;
  text-align: center;
  word-spacing: 0.3em;
  line-height: 150%;
  }
  
.corpo img {
  width: 100%;
  }

.corpo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
#ricetta {
  font-weight: bold;
  }
#opinione {
  display: inline;
  }

.contatti {
  text-align: center;
  width: 90%;
  margin: 3%;
  padding: 2%;
  }     
#contattisinistra {
  display: block;
  float: left;
  width: 60%;
  margin: 1%;
  padding: 1%;
  }
#contattisx {
  float: left;
  display: block;
  width: 50%;
  margin: 1%;
  padding: 1%;  
  }
#contattisx label {
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
  }
#contattidx {
  float: right;
  display: block;
  width: 34%;
  margin: 1%;
  padding: 1%; 
  }
#contattidestra {
  display: block;
  float: right;
  width: 30%;
  margin: 1%;
  padding: 1%;  
  }

.galleriaverticale {
  display: inline;
  text-align: center;
  }

.galleriaverticale img {
  margin: 2% auto;
  width: 28%;
  }
  
.galleriaorizzontale {
  display: inline;
  text-align: center;
  }

.galleriaorizzontale img {
  margin: 2% auto;
  width: 42.2%;
  }

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}


 #mappa {
  width: 100%;
  height: 60%;
  margin: 2em auto;
  }
  #framemappa {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  }


.footer {
  clear: both;
  background-color: #DEB887;
  text-align: center;
  font-size: 0.9em;
  padding: 5%;
  }
  
#formopinioni label, input {
  text-align: center;
  margin: 2% auto;
  display: block;
  }

#formricette label, input {
  text-align: center;
  margin: 2% auto;
  display: block;
  }
  
